[run]
branch = True
relative_files = True
source =
    ayc_api
    core
    customer
    electricalreport
    generalreport
    notification
    pumpingreport
    users
    workorder

[report]
omit =
    */migrations/*
    */tests.py
    */test_*.py

[xml]
output = coverage.xml
