Django==5.1.7
djangorestframework==3.16.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.7.0
django-environ==0.12.0
dj-database-url==2.3.0
psycopg2-binary==2.9.10
Pillow==11.1.0
cloudinary==1.43.0
pusher==3.3.3
celery==5.5.3
redis==5.0.1
drf-yasg==1.21.10
xhtml2pdf==0.2.17
weasyprint==65.1
gunicorn==23.0.0
python-dateutil==2.9.0.post0
pytz==2025.2